@using BlazorDIExamples.Services
@using Blazored.LocalStorage
@using Blazored.SessionStorage
@Title 

Refreshed @currTime
<br />
<p>Local Storage: @localStorageString</p>
<hr />
<p>Session Storage: @sessionString</p>
<hr />
<p>@Singleton.Id</p>
<hr />
<p>@Scoped.Id</p>
<hr />
<p>@Transient.Id</p>
<hr />

<button class="btn btn-primary p-2" @onclick=RunStateHasChanged>Run State Has Changed </button>
<button class="btn btn-primary p-2" @onclick=RefreshServices>Refresh All Services</button>

<br />
<br />
<br />

@code {
    [Parameter] public string Title { get; set; }
    [Inject] public ScopedService Scoped { get; set; }
    [Inject] public TransientService Transient { get; set; }
    [Inject] public SingletonService Singleton { get; set; }
    [Inject] public IServiceProvider SvcProvider { get; set; }
    [Inject] public ISessionStorageService sessionStorage { get; set; }
    [Inject] public ILocalStorageService localStorage { get; set; }

    private string currTime = DateTime.Now.ToString("HH:mm:ss.fff");
    private string sessionString = DateTime.Now.ToString("HH:mm:ss.fff");
    private string localStorageString = DateTime.Now.ToString("HH:mm:ss.fff");

    private async Task RunStateHasChanged()
    {
        localStorageString = await localStorage.GetItemAsync<string>("name") ?? "";
        sessionString = await sessionStorage.GetItemAsync<string>("name");
        currTime = DateTime.Now.ToString("HH:mm:ss.fff");
        StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
        sessionString = await sessionStorage.GetItemAsync<string>("name");
        localStorageString = await localStorage.GetItemAsync<string>("name") ?? "";
    }

    private async Task RefreshServices()
    {
        currTime = DateTime.Now.ToString("HH:mm:ss.fff");
        Transient = SvcProvider.GetRequiredService<TransientService>();
        Scoped = SvcProvider.GetRequiredService<ScopedService>();
        Singleton = SvcProvider.GetRequiredService<SingletonService>();
        StateHasChanged();
    }


}